/* General */
body {
  padding-top: 50px;
}

/* Bootstrap */
.row{
  padding: 40px 15px;
}

/* Container for Graph/Table */
#graph {
	min-height: 500px;
}

/* Graph */
.node {
    stroke: #000;
    stroke-width: 1px;
    opacity: .7;
    cursor: pointer;
}

.link {
   	stroke: #ddd;
    stroke-opacity: .9;
}

text {
  font: 9px sans-serif;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

/* Loader */
.loader {
  width: 50px;
  height: 50px;
  background: url(../img/loader.gif);
  background-size: 100%;
  margin: 200px auto;
}